* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  flex-wrap: wrap;
}

header div.logo {
  display: flex;
  align-items: center;
}

header div.logo img {
  width: 5rem;
}

header nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

header nav ul li {
  margin: 1rem;
}

header nav ul a {
  text-decoration-line: none;
  color: rgb(36, 80, 65);
  font-size: 1.2rem;
}

header nav ul a img {
  width: 2.5rem;
}

section.imageSection {
  background-image: url(./Pictures/pexels-photo-416676.jpeg);
  min-height: 90vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
}

section.imageSection h2 {
  font-weight: 500;
  color: white;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

section.imageSection a {
  text-decoration-line: none;
  color: white;
  background-color: rgb(24, 150, 189);
  padding: 1rem 1.5rem;
  border-radius: 1rem;
}

section.imageSection .blackFront {
  background-color: rgba(0, 0, 0, 0.199);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 90vh;
  z-index: -1;
}

section.secondPart {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 4rem;
  min-height: 100vh;
}

section.secondPart h3 {
  font-size: 2rem;
  text-align: center;
  font-weight: normal;
}

section.secondPart h3 span.green {
  color: #12948c;
}

section.secondPart .cards {
  display: flex;
  flex-wrap: wrap;
}

section.secondPart .cards .card {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  margin: 3rem;
  padding: 2rem;
  text-align: center;
  flex-basis: 20rem;
}

section.secondPart .cards .card h5 {
  font-size: 2rem;
  margin: 2rem 0;
  font-weight: normal;
}

section.secondPart .cards .card img {
  width: 10vw;
  height: 10vw;
}

@media screen and (max-width: 910px) {
  header {
    justify-content: center;
  }
}

@media screen and (max-width: 555px) {
  header nav ul li {
    margin: 0.5rem;
  }
  section.secondPart .cards .card {
    padding: 0;
  }
  section.secondPart {
    padding: 1rem;
  }
}

@media screen and (max-width: 455px) {
  header {
    flex-direction: column;
  }
  header nav ul {
    flex-direction: column;
  }
  header div.logo img {
    width: 15vw;
  }
  header h1 {
    font-size: 1.4rem;
  }
  section.imageSection h2 {
    font-size: 2rem;
  }
}
